body{
	padding:0;
	margin: 0;
	background: black;
}

#background{
	width: 100%;
	height:100%;
	background-size: cover;
	position: fixed;
	z-index: -999;
	top:0;
}

#container{
	display: none;
}

.gone{
	display: none!important;
}

.coming-soon, #creators{
	font-family: sans-serif;
	text-align: center;
}

.coming-soon{
	font-size: 48px;
	margin: 100px auto 50px auto;
	width: 50%;
	min-width: 250px;
	max-width: 550px;
	padding: 25px;
	border: 3px groove black;
	box-shadow: 2px 2px 1px;
	background: rgba(255,255,255,0.85);
}

#loading .coming-soon{
	color: white;
	border: none;
	box-shadow: none;
	background: none;
}

#creators-box{
	margin:0 auto;
	color: white;
	background: black;
	text-align: center;
	position: fixed;
	min-height: 100px;
	bottom:0;
	left:0;
	right: 0;
}

.creator{
	padding: 0;
	list-style-type: none;
	list-style: none;
	display: inline-block;
	margin:8px 15px;
	font-size: 16px;
	font-family: "Quicksand", Arial;
}
	.creator a{
		color: white;
	}

h2, h3, h6 {
	padding: 0;
	margin: 0;
}

h2{

}

h3{

}

h6 {
	margin-top: 3px;
	font-style: italic;
}

#I{
	font-family: Arial;
	font-size: 80px;
	font-style: italic;
}

@media screen and (max-width: 725px), screen and (max-height: 550px){
    #creators-box{
		margin:0 auto;
		color: white;
		background: black;
		text-align: center;
		position: relative;
		min-height: 100px;
		width: 100%;
	}
}