.box-content {
	width:80%;
}

.update-img {
	max-width: 360px;
}

#moon {
	margin-left: -240px;
}

#notable-content {
	width: 90%;
}

#notable-content li{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
